<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="edu.jrubiralta.portalbdn">

    <application
            android:name=".App"
            android:allowBackup="true"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <activity
                android:name=".ui.activity.splash.SplashActivity"
                android:screenOrientation="behind"
                android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.home.HomeActivity"
                android:screenOrientation="behind"
                android:theme="@style/SplashTheme"/>
        <activity android:name=".ui.activity.incident.NewIncidentActivity"
            android:screenOrientation="behind"
            android:theme="@style/SplashTheme"/>

    </application>
</manifest>
